code {
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

body {
  background-color: #1a1a1a;
}

h3 {font-family: 'Common Pixel', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white !important;
}

h2 {font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  color: white !important;
}

h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white !important;

  
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.content {
  text-align: center;
  margin-bottom: 30px;
}
.header {
  font-size: 30px;
}

.img-body {
  width: 250px;
  margin: 0 20px; 
  display: inline-block;
  vertical-align: top;
}

.img-body img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px; 
}

.img-body img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 80vh;
  border-color: white;
}

.slick-slide {
  padding: 30px; 
  box-sizing: border-box;
}

.slick-prev,
.slick-next {
  position: absolute; /* Not relative or fixed! */
  top: 50%;
  transform: translateY(60%);
  z-index: 2;
}

.slick-prev {
  left: -40px; /* Adjust if needed */
}

.slick-next {
  right: -40px; /* Adjust if needed */
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: black;
}

